body {
  overflow: hidden;
  background-image: url(./examples/ud4/ex10/img/agua.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.onda div{
  position: absolute;
  width: 300px;
  height: 300px;
  background: transparent;
  right: 0px;
  bottom: 0px;
  border: 1px solid #d7d7d7;
  border-radius: 1000px;
  transform-origin: center;
}
.onda1{
  animation: goteo 4s infinite;
}
.onda2{
  animation: goteo 4s infinite;
  animation-delay: 0.3s;
}
.onda3{
  animation: goteo 4s infinite;
  animation-delay: 0.5s;
}
.onda4{
  animation: goteo 4s infinite;
  animation-delay: 0.7s;
}
.onda5{
  animation: goteo 4s infinite;
  animation-delay: 0.8s;
}


@keyframes goteo {
0%   {  scale: 0.1; }
50%  {  opacity:1; }
100% {  scale: 6; opacity:0;}
}