.contenedor{
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.superior, .inferior{
  flex-direction: row;
}
.inferior{
  display: flex;
}

img {
  width: 200px;
}
.imagen2 {
  width: 405px;
}

/*
Imagen izquierda arriba
transición sobre opacidad
*/
.imagen1{
  opacity: 0.1;
  transition: opacity 2s;
}

.imagen1:hover{
  opacity: 1;
}

/*
Imagen derecha arriba
transformación sobre tamaño con transición
*/
.imagen2{
    transform-origin: bottom left;
    transition: transform 2s;
}

.imagen2:hover{
    transform: scale(1.3);
}


/*
Imagen izquierda medio
borde redondeado con retardo de 2s
*/

.imagen3{
    transition: border-radius 2s;
    transition-delay: 2s;
}

.imagen3:hover{
    border-radius: 50px;
}

/*
Imagen derecha medio
hacerlo muy pequeño en 10s: de despacio a rápido
*/

.imagen5{
    transition: transform 10s ease-in;
}

.imagen5:hover{
    transform: scale(0.1);
}

/*
Imagen izquierda abajo
se mueve hacia abajo 400px despacio-rápido-despacio y termina desapareciendo
*/

.imagen6{
    position: relative;
    transition: all 4s;
    top: 0px;
    opacity: 1;
}

.imagen6:hover{
  top: 400px;
  opacity: 0;
}


/*
Imagen derecha abajo
transición sobre display, de block a none (no se puede hacer, hacer alternativa)
*/

.imagen7{
    opacity: 1;
    transition: opacity 3s;
}

.imagen7:hover{
    opacity: 0;
}