* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: none;
}

.tarjeta,
.cara {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.tarjeta .cara {
  position: absolute;
}

.tarjeta {
  position: absolute;
  left: 20%;
  top: 20%;
  transform-style: preserve-3d;
}

.delante {
  border: 2px solid silver;
  background-color: white;
  transform: translateZ(1px);
}

.atras {
  background-image: url('./examples/ud4/ex14/img/1.jpg');
  background-size: 100% 100%;
  transform: translateZ(1px);
}

.texto1, .texto2 {
  color: white;
  text-align: center;
  padding-top: 10px;
}
.texto1{
transform: translateZ(100px);
}
p{font-size: 30px}
p.par{
  color: rgb(2, 53, 95);
  font-size: 15px; 
  text-align: justify;
  padding: 20px;
}

label {
  display: block;
  width: 100px;
  margin: auto;
  margin-top: 30%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
label#boton2{
  color: rgb(2, 53, 95);
  border: 1px solid rgb(2, 53, 95);
  margin-top: -5%;
}
label:hover {
  cursor: pointer;
  color: rgb(2, 53, 95);
  background-color: white;
}

.texto2 {
  color: rgb(2, 53, 95);
  transform: translateZ(-100px) rotateY(180deg);
}

.tarjeta {
 animation-direction: normal;
 animation-duration: 2s;
 animation-play-state: running;
}

#b:checked ~ .tarjeta{
  animation-name: rotar;
  transform: rotateY(180deg);
}

@keyframes rotar{
  from{transform: rotateY(0deg); }
  to{transform: rotateY(180deg);}
}
#a:checked ~ .tarjeta{
  animation-name: rotar2;
  transform: rotateY(0deg);
}

@keyframes rotar2{
  from{transform: rotateY(180deg); }
  to{transform: rotateY(0deg);}
}