html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contenido {
  width: 600px;
  height: 200px;
  background: beige;
  position: relative;
  background: paleturquoise;
  border-bottom: 2px solid green;
}

.arbol__copa {
  position: absolute;
  width: 165px;
  bottom: 47px;
  right: 10px;
  -webkit-animation: romper-arbol 1s linear forwards;
          animation: romper-arbol 1s linear forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.arbol__tronco {
  position: absolute;
  width: 165px;
  bottom: -1px;
  right: 10px;
}

.coche {
  width: 130px;
  position: absolute;
  bottom: -40px;
  right: 474px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation: mover-coche 1s linear forwards;
          animation: mover-coche 1s linear forwards;
}

.fuego {
  width: 45px;
  position: absolute;
  top: 104px;
  right: 95px;
  -webkit-animation: encender-fuego 1s ease-in-out forwards;
          animation: encender-fuego 1s ease-in-out forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
}

@-webkit-keyframes mover-coche {
  0% {
    right: 474px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  90% {
    right: 80px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    right: 70px;
    -webkit-transform: rotateY(127deg);
            transform: rotateY(127deg);
  }
}

@keyframes mover-coche {
  0% {
    right: 474px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  90% {
    right: 80px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    right: 70px;
    -webkit-transform: rotateY(127deg);
            transform: rotateY(127deg);
  }
}

@-webkit-keyframes romper-arbol {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  60% {
    -webkit-transform: rotate(-100deg) translate(27px, -126px);
            transform: rotate(-100deg) translate(27px, -126px);
  }
  100% {
    -webkit-transform: rotate(-100deg) translate(-55px, -194px);
            transform: rotate(-100deg) translate(-55px, -194px);
  }
}

@keyframes romper-arbol {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  60% {
    -webkit-transform: rotate(-100deg) translate(27px, -126px);
            transform: rotate(-100deg) translate(27px, -126px);
  }
  100% {
    -webkit-transform: rotate(-100deg) translate(-55px, -194px);
            transform: rotate(-100deg) translate(-55px, -194px);
  }
}

@-webkit-keyframes encender-fuego {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes encender-fuego {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */