.drop {
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
  }
  .animate {
    animation: falling 5.5s infinite ease-in;
  }
  .line {
    text-align: center;
  }
  .light {
    position: absolute;
    top: 10px;
    left: 109px;
    rotate: -1.2deg;
  }
  li {
    position: relative;
    margin: 0 15px;
    list-style: none;
    padding: 0;
    display: inline-block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    top: 35px;
    background: #fff;
  }
  li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9px;
    border-radius: 3px;
    top: -4px;
    left: 1px;
  }
  li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 19px;
    border-bottom: solid #222 2px;
    border-radius: 30%;
  }
  .red {
    background-color: #fb4545;
    animation: lightningRed 1s infinite;
  }
  .green {
    background-color: #24d024;
    animation: lightningGreen 0.8s infinite;
  }
  .yellow {
    background-color: #fff952;
    animation: lightningYellow 0.9s infinite;
  }
  .blue {
    background-color: #0a53de;
    animation: lightningBlue 1.1s infinite;
  }
  .pink {
    background-color: #f53896;
    animation: lightningPink 1.2s infinite;
  }
  @keyframes lightningRed {
    0% {
      box-shadow: 5px 10px 35px 10px #fb4545;
    }
    50% {
      box-shadow: none;
    }
    100% {
      box-shadow: 5px 10px 35px 10px #fb4545;
    }
  }
  @keyframes lightningGreen {
    0% {
      box-shadow: 5px 0 35px 10px #24d024;
    }
    50% {
      box-shadow: none;
    }
    100% {
      box-shadow: 5px 0 35px 10px #24d024;
    }
  }
  @keyframes lightningYellow {
    0% {
      box-shadow: 5px 0 35px 10px #fff952;
    }
    50% {
      box-shadow: none;
    }
    100% {
      box-shadow: 5px 0 35px 10px #fff952;
    }
  }
  @keyframes lightningBlue {
    0% {
      box-shadow: 5px 0 35px 10px #0a53de;
    }
    50% {
      box-shadow: none;
    }
    100% {
      box-shadow: 5px 0 35px 10px #0a53de;
    }
  }
  @keyframes lightningPink {
    0% {
      box-shadow: 5px 0 35px 10px #f53896;
    }
    50% {
      box-shadow: none;
    }
    100% {
      box-shadow: 5px 0 35px 10px #f53896;
    }
  }
  body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  #espacio {
    width: 917px;
    height: 600px;
    border: 2px solid black;
    position: relative;
  }
  
  #room {
    background-image: url("./examples/ud6/ex2/img/room.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 917px;
    height: 600px;
    box-shadow: inset 0px 0px 120px;
  }
  
  .christmas {
    position: relative;
    left: 292px;
    top: 352px;
    z-index: 2;
  }
  
  .tree {
    position: relative;
    background-color: #685044;
    width: 30px;
    height: 80px;
    top: 100px;
    transform-style: preserve-3d;
  }
  
  .tree:before {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 270px solid #127475;
    border-radius: 30px;
    top: -250px;
    left: -75px;
  }
  
  .tree:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-right: 90px solid transparent;
    border-bottom: 270px solid #0e9594;
    border-bottom-right-radius: 30px;
    top: -250px;
    left: -165px;
  }
  
  .shadow {
    background-color: rgba(0, 0, 0, 0.07);
    position: absolute;
    width: 250px;
    height: 30px;
    border-radius: 50%;
    top: 170px;
    left: -115px;
    z-index: -1;
  }
  
  .chain {
    width: 85px;
    height: 85px;
    border: solid 3px #333;
    border-radius: 50%;
    top: -185px;
    left: -35px;
    position: absolute;
    transform: rotate3d(8, 0.1, -5, 75deg);
    box-sizing: border-box;
    backface-visibility: visible !important;
    z-index: 5;
  }
  
  .chain2 {
    width: 145px;
    height: 135px;
    border: solid 3px #333;
    border-radius: 50%;
    top: -115px;
    left: -65px;
    position: absolute;
    transform: rotate3d(8, 0.1, -5, 75deg);
    box-sizing: border-box;
    backface-visibility: visible !important;
    z-index: 5;
  }
  
  .lights {
    position: absolute;
  }
  
  .light1 {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
  }
  
  .light1 {
    background-color: #ff595e;
    top: -100px;
    left: -35px;
    transform: rotate(40deg);
    box-shadow: 1px 1px 15px #faf3dd;
  }
  
  .light2 {
    position: absolute;
    background-color: #ffca3a;
    top: -95px;
    left: -10px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light3 {
    position: absolute;
    background-color: #6a4c93;
    top: -105px;
    left: 15px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light4 {
    position: absolute;
    background-color: #1982c4;
    top: -118px;
    left: 35px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light5 {
    position: absolute;
    background-color: #1982c4;
    top: 12px;
    left: -55px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light6 {
    position: absolute;
    background-color: #8ac926;
    top: 15px;
    left: -25px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light7 {
    position: absolute;
    background-color: #ff595e;
    top: 10px;
    left: 2px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light8 {
    position: absolute;
    background-color: #ffca3a;
    top: -2px;
    left: 27px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light9 {
    position: absolute;
    background-color: #9e0059;
    top: -17px;
    left: 50px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light10 {
    position: absolute;
    background-color: #4361ee;
    top: -40px;
    left: 68px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .gift {
    position: absolute;
    width: 60px;
    height: 50px;
    background-color: #ffc857;
    top: 130px;
    left: 30px;
    box-shadow: inset -8px 0 0 rgba(0, 0, 0, 0.07);
  }
  
  .gift:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 15px;
    background-color: #ffc857;
    left: -5px;
    box-shadow: inset -8px -4px 0 rgba(0, 0, 0, 0.07);
  }
  
  .gift:after {
    content: "";
    background-color: #db3a34;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 25px;
  }
  
  .ribbon {
    position: absolute;
    width: 20px;
    height: 10px;
    border: 3px solid #db3a34;
    border-radius: 50%;
    transform: skew(15deg, 15deg);
    top: 116px;
    left: 35px;
  }
  
  .ribbon:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    border: 3px solid #db3a34;
    border-radius: 50%;
    transform: skew(-15deg, -20deg);
    left: 22px;
    top: -8px;
  }
  
  .gift2 {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #08bdbd;
    top: 140px;
    left: -65px;
    box-shadow: inset -8px 0 0 rgba(0, 0, 0, 0.07);
  }
  
  .gift2:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 15px;
    background-color: #08bdbd;
    left: -5px;
    box-shadow: inset -8px -4px 0 rgba(0, 0, 0, 0.07);
  }
  
  .gift2:after {
    content: "";
    background-color: #abff4f;
    width: 10px;
    height: 40px;
    position: absolute;
    left: 15px;
  }
  
  .gift3 {
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: #7678ed;
    top: 150px;
    left: -85px;
    box-shadow: inset -8px 0 0 rgba(0, 0, 0, 0.07);
  }
  
  .gift3:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: #7678ed;
    left: -5px;
    box-shadow: inset -8px -4px 0 rgba(0, 0, 0, 0.07);
  }
  
  .gift3:after {
    content: "";
    background-color: #f7b801;
    width: 7px;
    height: 30px;
    position: absolute;
    left: 15px;
  }
  
  .ribbon2 {
    position: absolute;
    width: 15px;
    height: 7px;
    border: 3px solid #abff4f;
    border-radius: 50%;
    transform: skew(15deg, 15deg);
    top: 129px;
    left: -65px;
  }
  
  .ribbon2:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 7px;
    border: 3px solid #abff4f;
    border-radius: 50%;
    transform: skew(-15deg, -20deg);
    left: 15px;
    top: -8px;
  }
  
  .ribbon3 {
    position: absolute;
    width: 12px;
    height: 5px;
    border: 3px solid #f7b801;
    border-radius: 50%;
    transform: skew(15deg, 15deg);
    top: 142px;
    left: -85px;
  }
  
  .ribbon3:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 5px;
    border: 3px solid #f7b801;
    border-radius: 50%;
    transform: skew(-15deg, -20deg);
    left: 15px;
    top: -8px;
  }
  
  .star {
    position: relative;
    width: 50px;
    height: auto;
    animation: starAn 3.2s infinite linear;
    top: 98px;
    left: 184px;
    offset-distance: 100%;
    offset-path: path("M1 49C43 13 150.2 -37.4 243 49");
  }
  
  @keyframes starAn {
    0% {
      transform: rotate(0deg);
      offset-distance: 0%;
    }
    50% {
      transform: rotate(360deg);
      offset-distance: 100%;
    }
    100% {
      transform: rotate(0deg);
      offset-distance: 0%;
    }
  }
  
  .light1,
  .light2,
  .light3,
  .light4,
  .light5,
  .light6,
  .light7,
  .light8,
  .light9,
  .light10 {
    animation: flash 5s infinite;
  }
  
  @keyframes flash {
    20%,
    24%,
    55% {
      box-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      box-shadow: 0 0 5px #f5de93, 0 0 15px #f5de93, 0 0 20px #f5de93,
        0 0 40px #f5de93, 0 0 60px #decea4, 0 0 10px #d6c0a5, 0 0 98px #ff0000;
    }
  }
  
  /*NIEVE*/
  canvas {
    background: linear-gradient(
      rgba(0, 212, 255, 1) 0%,
      rgba(1, 63, 81, 1) 55%,
      rgba(2, 0, 36, 1) 77%,
      rgba(1, 1, 9, 1) 100%
    );
    position: absolute;
    top: 0;
    z-index: -2;
    width: 917px;
    height: 600px;
  }
  
  #tren {
    background-image: url("./examples/ud6/ex2/img/rail.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 360px;
    top: 211px;
    left: 116px;
    position: relative;
    transform: rotateX(66deg);
    z-index: 1;
  }
  
  .vagon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 51px;
    top: 47px;
    transform: rotate(90deg);
    offset-path: path(
      "M1.36004 131.049C-9.42453 -12.6915 225.439 -67.7921 253 126.258C253 242.448 66.0675 338.874 1.36004 131.049Z"
    );
    animation: vagon 5s linear infinite;
    animation-delay: calc(var(--i) * 0.22s);
  }
  
  @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes vagon {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
  
  .regalo {
    position: absolute;
    margin-left: 757.2px;
    margin-top: -85px;
    scale: 0.2;
  }
  
  .regalo2 {
    position: absolute;
    margin-left: 671.2px;
    margin-top: -92px;
    scale: 0.3;
    z-index: 3;
  }
  
  .regalo3 {
    position: absolute;
    margin-left: 722.2px;
    margin-top: -47px;
    scale: 0.15;
    z-index: 5;
  }
  
  .noel {
    position: absolute;
    animation: noel 5.5s infinite linear;
    z-index: -1;
    left: 3000px;
    top: 60px;
  }
  
  @keyframes noel {
    from {
      left: 3000px;
    }
    to {
      left: -1000px;
    }
  }
  
  .whitespacexd{
    width: 100%;
    background-color: white;
    height: 100vh;
  }
  .gift-box-container {
  width: 200px;
  height: 200px;
  perspective: 400px;
}
.gift-box {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}
.regalo .gift-box {
  transform: rotateX(-31deg) rotateY(128deg) rotateZ(0deg);
  --gift-box-color: #e63946;
  --gift-box-edge-color: #88232b;
  --wrap-color: #f1faee;
  --wrap-ribbon-color: #c0e4e6;
  --wrap-top-color: #d8efef;
}
.regalo2 .gift-box {
  transform: rotateX(-31deg) rotateY(79deg) rotateZ(0deg);
  --gift-box-color: #39a7e6;
  --gift-box-edge-color: #1f5a7c;
  --wrap-color: #aaeff8;
  --wrap-ribbon-color: #ccedf1;
  --wrap-top-color: #aaeff8;
}
.regalo3 .gift-box {
  transform: rotateX(-31deg) rotateY(211deg) rotateZ(0deg);
  --gift-box-color: #348b1e;
  --gift-box-edge-color: #163a0d;
  --wrap-color: #bbb34b;
  --wrap-ribbon-color: #afac7c;
  --wrap-top-color: #bbb34b;
}
.gift-box .gift-box__side,
.gift-box .gift-box__end {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid var(--gift-box-edge-color);
}
.gift-box .gift-box-lid__side {
  position: absolute;
  width: 220px;
  height: 50px;
  border: 2px solid var(--gift-box-edge-color);
}
.gift-box .gift-box-lid__end {
  position: absolute;
  width: 220px;
  height: 220px;
  border: 2px solid var(--gift-box-edge-color);
}
.gift-box .gift-box__side,
.gift-box .gift-box-lid__side {
  background: linear-gradient(
    to right,
    var(--gift-box-color) 40%,
    var(--wrap-color) 40%,
    var(--wrap-color) 60%,
    var(--gift-box-color) 60%
  );
}
.gift-box .gift-box__end,
.gift-box .gift-box-lid__end {
  background: linear-gradient(
      to right,
      transparent 40%,
      var(--wrap-top-color) 40%,
      var(--wrap-top-color) 60%,
      transparent 60%
    ),
    linear-gradient(
      to bottom,
      var(--gift-box-color) 40%,
      var(--wrap-color) 40%,
      var(--wrap-color) 60%,
      var(--gift-box-color) 60%
    );
}
.gift-box .gift-box__side--front {
  transform: rotateY(0deg) translateZ(100px);
}
.gift-box .gift-box__side--back {
  transform: rotateY(180deg) translateZ(100px);
}
.gift-box .gift-box__side--left {
  transform: rotateY(-90deg) translateZ(100px);
}
.gift-box .gift-box__side--right {
  transform: rotateY(90deg) translateZ(100px);
}
.gift-box .gift-box__side--top {
  transform: rotateX(90deg) translateZ(100px);
}
.gift-box .gift-box__side--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
.gift-box .gift-box-lid__side--front {
  transform: rotateY(0deg) translateZ(110px) translateX(-10px) translateY(-10px);
}
.gift-box .gift-box-lid__side--back {
  transform: rotateY(180deg) translateZ(110px) translateX(10px)
    translateY(-10px);
}
.gift-box .gift-box-lid__side--left {
  transform: rotateY(-90deg) translateZ(120px) translateY(-10px);
}
.gift-box .gift-box-lid__side--right {
  transform: rotateY(90deg) translateZ(100px) translateY(-10px);
}
.gift-box .gift-box-lid__side--top {
  transform: rotateX(90deg) translateZ(120px) translateX(-10px) translateY(0);
}
.gift-box .ribbon-l {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid var(--wrap-ribbon-color);
  border-radius: 50% 50% 0 50%;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: rotateX(75deg) rotateY(90deg)
    translateZ(calc(80px - var(--gift-box-position))) translateX(-85px)
    translateY(-75px) skewY(30deg);
  /* use a CSS variable for the translate, defined in CSS */
}
.gift-box .ribbon-r {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid var(--wrap-ribbon-color);
  border-radius: 50% 50% 0 50%;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: rotateX(-5deg) rotateY(90deg)
    translateZ(calc(80px - var(--gift-box-position))) translateX(-30px)
    translateY(-110px) skewY(30deg);
  /* use a CSS variable for the translate, defined in CSS */
}
.ribbon-l-end {
  position: absolute;
  width: 40px;
  height: 110px;
  background: linear-gradient(45deg, var(--wrap-top-color) 72%, transparent 72%),
    linear-gradient(-45deg, var(--wrap-top-color) 72%, transparent 72%);
  border: 2px solid var(--gift-box-edge-color);
  border-top: none;
  border-bottom: none;
  transform: rotateX(-70deg) translateX(80px) translateY(-80px)
    translateZ(-60px);
}
.ribbon-r-end {
  position: absolute;
  width: 40px;
  height: 110px;
  background: linear-gradient(45deg, var(--wrap-top-color) 72%, transparent 72%),
    linear-gradient(-45deg, var(--wrap-top-color) 72%, transparent 72%);
  border: 2px solid var(--gift-box-edge-color);
  border-top: none;
  border-bottom: none;
  transform: rotateX(80deg) translateX(80px) translateY(-80px) translateZ(60px);
}
