* {
    box-sizing: border-box;
    margin: 0;
  }
#cubo{
    position: relative;
    width: 800px;
    height: 600px;
    perspective: 1000px;
    perspective-origin: 60%;
}
#cubo > div{
    width: 200px;
    height: 200px;
    position: absolute;
    transition: all 0.5s;
}

#front{ 
    background-color: red;
    left: 400px;
    top: 200px;
}
#cubo:hover > #front{
    opacity: 0.5;
}
#back{
    background-color: yellow;
    left: 0px;
    top: 200px;
}
#cubo:hover > #back {
    transform-origin: right;
    transform: rotateY(-180deg);
    translate :200px 0 -200px;

}
#left{
    background-color: green;
    left: 200px;
    top: 200px;
}
#cubo:hover > #left {
    transform:rotateY(-90deg);
    transform-origin: right;
}
#right{
    background-color: salmon;
    left: 600px;
    top: 200px;
}
#cubo:hover > #right {
    transform:rotateY(90deg);
    transform-origin: left;
}
#up{
    background-color: brown;
    left: 400px;
    top: 0px;
}
#cubo:hover > #up {
    transform:rotateX(90deg);
    transform-origin: bottom;
}
#down{
    background-color: blue;
    left: 400px;
    top: 400px;
}
#cubo:hover > #down {
    transform:rotateX(-90deg);
    transform-origin: top;
}