.circuito-container {
  margin: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 800px;
  position: relative;
}

#circuito {
  width: 800px;
  position: relative;
}

#coche {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(102px, 275px) rotate(225deg);
          transform: translate(102px, 275px) rotate(225deg);
  -webkit-animation: move 5s linear infinite;
          animation: move 5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#coche:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(180deg);
            transform: translate(0px, 0px) rotate(180deg);
  }
  30% {
    -webkit-transform: translate(450px, 0px) rotate(180deg);
            transform: translate(450px, 0px) rotate(180deg);
  }
  35% {
    -webkit-transform: translate(525px, 21px) rotate(220deg);
            transform: translate(525px, 21px) rotate(220deg);
  }
  40% {
    -webkit-transform: translate(543px, 81px) rotate(270deg);
            transform: translate(543px, 81px) rotate(270deg);
  }
  45% {
    -webkit-transform: translate(525px, 130px) rotate(320deg);
            transform: translate(525px, 130px) rotate(320deg);
  }
  50% {
    -webkit-transform: translate(475px, 155px) rotate(360deg);
            transform: translate(475px, 155px) rotate(360deg);
  }
  60% {
    -webkit-transform: translate(172px, 155px) rotate(360deg);
            transform: translate(172px, 155px) rotate(360deg);
  }
  65% {
    -webkit-transform: translate(102px, 180px) rotate(310deg);
            transform: translate(102px, 180px) rotate(310deg);
  }
  70% {
    -webkit-transform: translate(85px, 225px) rotate(270deg);
            transform: translate(85px, 225px) rotate(270deg);
  }
  75% {
    -webkit-transform: translate(102px, 275px) rotate(225deg);
            transform: translate(102px, 275px) rotate(225deg);
  }
  80% {
    -webkit-transform: translate(172px, 309px) rotate(180deg);
            transform: translate(172px, 309px) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(670px, 309px) rotate(180deg);
            transform: translate(670px, 309px) rotate(180deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(180deg);
            transform: translate(0px, 0px) rotate(180deg);
  }
  30% {
    -webkit-transform: translate(450px, 0px) rotate(180deg);
            transform: translate(450px, 0px) rotate(180deg);
  }
  35% {
    -webkit-transform: translate(525px, 21px) rotate(220deg);
            transform: translate(525px, 21px) rotate(220deg);
  }
  40% {
    -webkit-transform: translate(543px, 81px) rotate(270deg);
            transform: translate(543px, 81px) rotate(270deg);
  }
  45% {
    -webkit-transform: translate(525px, 130px) rotate(320deg);
            transform: translate(525px, 130px) rotate(320deg);
  }
  50% {
    -webkit-transform: translate(475px, 155px) rotate(360deg);
            transform: translate(475px, 155px) rotate(360deg);
  }
  60% {
    -webkit-transform: translate(172px, 155px) rotate(360deg);
            transform: translate(172px, 155px) rotate(360deg);
  }
  65% {
    -webkit-transform: translate(102px, 180px) rotate(310deg);
            transform: translate(102px, 180px) rotate(310deg);
  }
  70% {
    -webkit-transform: translate(85px, 225px) rotate(270deg);
            transform: translate(85px, 225px) rotate(270deg);
  }
  75% {
    -webkit-transform: translate(102px, 275px) rotate(225deg);
            transform: translate(102px, 275px) rotate(225deg);
  }
  80% {
    -webkit-transform: translate(172px, 309px) rotate(180deg);
            transform: translate(172px, 309px) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(670px, 309px) rotate(180deg);
            transform: translate(670px, 309px) rotate(180deg);
  }
}
/*# sourceMappingURL=styles.css.map */